<form action="/addCourse" method="post">

    <input type="text" name="name" id="">
    <input type="text" name="description" id="">
    <input type="number" name="price" id="">


<button type="submit">Add course</button>
</form>