

<form action="/login" method="post">

    <input type="text" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="password">

    <button type="submit">Login</button>

    <span>Don't have account? </span>
    <a href="/register"> Register</a>
    <a href="/reset">Forgot password?</a>

</form>