<!DOCTYPE html>
<head>
<title>Felicias Todo App</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

    <ul>
        <li><a href="/home"> Hem </a></li>
        <li><a href="/todo"> Mina Todo</a></li>
        <li><a href="/logout"> Logout </a></li>
    </ul>

<div class="todo-wrapper">

<h3>ATT GÖRA:</h3>

<form action="/todo" method="POST" class="todo-input">
<input type="text" name="content">
<button type="submit"><span class="fas fa-plus"></span></button>
</form>

    <% todoTasks.forEach(details => { %>


    <li class="todo-list-item">
    <div class="todo-list-item-name"><%= details.content %></div>
    <a href="/edit/<%= details._id %>" class="edit-button">
    <span class="fas fa-pencil-alt"></span>
    </a>
    <a href="/remove/<%= details._id %>" class="remove-button">
    <span class="fas fa-trash-alt""></span>
    </a>
    </li>
    <% }) %>

</div>
</div>
</body>
</html>
